<!-- ▲▼△▽⇅↑↓ -->
<ng-container *ngIf="!config then noconfig  else container"></ng-container>
<ng-template #container>
<div class="table-container">
  <table class="table is-hoverable is-focusable is-fullwidth is-relative">
    <thead>
      <tr>
        <th
          scope="col"
          *ngFor="let column of columns"
          [style]="{ width: column.width }"
        >
          <ng-container [ngSwitch]="column.type">
            <ng-container
              *ngSwitchCase="TableConfigColumAliases.Selecting"
            >
              <!-- check/uncheck all -->
              <div *ngIf="config.selection === TableSelections.Multiple" class="form-check">
                <label class="checkbox">
                  <input type="checkbox" (change)="onSelectAll($event)">
                  <span></span>
                </label>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="TableConfigColumAliases.Nesting">
              <!-- expand/collapse all -->
              <button type="button" class="button is-small is-rounded is-white">
                <ng-container>▼</ng-container>
              </button>
            </ng-container>
            <ng-container *ngSwitchDefault>{{ column.label }}</ng-container>
          </ng-container>
        </th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngIf="data == null then nodata"></ng-container>
      <ng-container *ngIf="data?.length === 0 then emptydata"></ng-container>
      <ng-container *ngIf="data?.length !== 0 then body"></ng-container>
      <ng-template #body>
      <ng-container *ngFor="let item of data">
        <tr>
          <td *ngFor="let column of columns">
            <ng-container [ngSwitch]="column.type">
              <!-- select SINGLE -->
              <ng-container
                *ngSwitchCase="TableConfigColumAliases.Selecting"
                [ngTemplateOutlet]="selecting"
                [ngTemplateOutletContext]="{ $implicit: item }"
              ></ng-container>
              <!-- nesting toggle -->
              <ng-container
                *ngSwitchCase="TableConfigColumAliases.Nesting"
                [ngTemplateOutlet]="nesting"
                [ngTemplateOutletContext]="{ $implicit: item }"
              ></ng-container>
              <!-- default -->
              <ng-container *ngSwitchDefault>
                <!-- output: regular & data -->
                <ng-container
                  *ngIf="!templates[column.alias]"
                >{{ getValue(item, column.alias) }}</ng-container>
                <!-- output: regular & no data  -->
                <ng-container
                  *ngIf="!templates[column.alias] && getValue(item, column.alias) == null"
                  [ngTemplateOutlet]="empty"
                ></ng-container>
                <!-- output: template -->
                <ng-container
                  *ngIf="templates[column.alias]"
                  [ngTemplateOutlet]="templates[column.alias]"
                  [ngTemplateOutletContext]="{ $implicit: item, empty: empty }"
                ></ng-container>
              </ng-container>
            </ng-container>
          </td>
        </tr>
        <tr *ngIf="config.nesting && isNestedOpened(item)">
          <td [attr.colspan]="columns.size"><ng-container 
            [ngTemplateOutlet]="templates['nested']"
            [ngTemplateOutletContext]="{ $implicit: item }"></ng-container></td></tr>
      </ng-container>
      </ng-template>
    </tbody>
  </table>
</div>
</ng-template>

<ng-template #nodata>
  <tr><td [colSpan]="columns.size"><div class="card" data-e2e="no-data">
    <div class="card-content">There are no items or they are loading.</div></div>
    <p>&nbsp;</p></td></tr>
</ng-template>

<ng-template #emptydata>
  <tr><td [colSpan]="columns.size"><div class="card" data-e2e="empty-data">
    <div class="card-content">There are no items.</div></div>
    <p>&nbsp;</p></td></tr>
</ng-template>

<ng-template #noconfig><div class="card" data-e2e="no-config"><div class="card-content">No configuration</div></div></ng-template>

<ng-template #empty let-item>&mdash;</ng-template>

<ng-template #selecting let-item>
  <!-- Single -->
  <label *ngIf="config.selection === TableSelections.Single" class="radio">
    <input type="radio" [name]="uuid" [checked]="selectedItems.get(item)?.selected" [disabled]="selectedItems.get(item)?.disabled" [value]="item.id" (change)="onSelectItem(item, $event)">
    <span></span>
  </label>
  <!-- Multiple -->
  <label *ngIf="config.selection === TableSelections.Multiple" class="checkbox">
    <input type="checkbox" [checked]="selectedItems.get(item)?.selected" [disabled]="selectedItems.get(item)?.disabled" [name]="uuid" [value]="item.id" (change)="onSelectItem(item, $event)">
    <span></span>
  </label>
</ng-template>

<ng-template #nesting let-item>
  <button type="button" class="button is-small is-rounded is-white" (click)="onToggleNested(item)">
    <ng-container *ngIf="isNestedOpened(item)">▲</ng-container>
    <ng-container *ngIf="!isNestedOpened(item)">▼</ng-container>
  </button>
</ng-template>