<div *ngIf="vm$ | async as vm" class="section">
  <div class="conatiner">
    <div class="content">
      <app-table #main
        [config]="simpleConfig"
        [data]="vm.users"
        [templates]="{ email, balance, nested }"
        [defaultItems]="defaultItems"
        (selectionChange)="onSimpleSelectionChange($event)"
        (sortChange)="onSimpleSortChange($event)"
      ></app-table>
    </div>
    
    <div class="notification" role="alert" *ngIf="selectedData">
      <strong *ngIf="selectedData.length">Selected: </strong>
      <ng-container *ngFor="let item of selectedData; last as last ">
        <span class="block">{{ item['name']}}</span>
        <ng-container *ngIf="!last">, </ng-container>
      </ng-container>
      <strong *ngIf="!selectedData.length">Choose something.</strong>
    </div>
  </div>

  <ng-template #email let-empty="empty" let-data>
    <a *ngIf="data.email; else empty" [href]="'mailto:' + data.email">{{ data.email }}</a>
  </ng-template>

  <ng-template #balance let-empty="empty" let-data>
    <div class="has-text-right">{{data.balance}}</div>
  </ng-template>

  <ng-template #nested let-item>
    <app-table [config]="NestedConfig"></app-table>
  </ng-template>
</div>